@import url('./reset.css');
@import url('../fonts/rubik/rubik.css');
body {
    color: #363853;
    font-family: 'Rubik';
    background: #F8F9FC;
    /*background: #BABABA;*/
}

section {
    overflow: hidden;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.heading {
    font-weight: 500;
}

.heading-l {
    font-size: 40px;
    line-height: 47px;
}

.heading-m {
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.5px;
}

.page-title {
    font-size: 66px;
    line-height: 78px;
    text-transform: capitalize;
}

.text-xl {
    font-size: 24px;
    line-height: 30px;
}

.text-l {
    font-size: 20px;
    line-height: 30px;
}

.text-m {
    font-size: 18px;
    line-height: 30px;
}

.text-light {
    font-weight: 300;
}

.text-s {
    font-size: 15px;
    line-height: 18px;
}

.text-xs {
    font-size: 14px;
    line-height: 17px;
}

.text-orange {
    color: #FF7A50;
}

.text-gray {
    color: #AAAAAA;
}

.text-white {
    color: #FFFFFF;
}

.opacity-9 {
    opacity: 0.9;
}

.button {
    background: #FF7A50;
    border-radius: 5px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    transition: all 0.3s ease;
}

.button:hover {
    transform: scale(1.1);
}

.button-l,
.button-m {
    box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
}

.button-l {
    height: 58px;
    font-size: 20px;
    line-height: 58px;
    padding: 0 44px;
}

.button-m {
    height: 51px;
    font-size: 20px;
    line-height: 51px;
    padding: 0 21px;
}

.button-s {
    height: 32px;
    padding: 0 13px;
    font-size: 15px;
    line-height: 32px;
    box-shadow: 0px 5px 12px rgba(255, 104, 56, 0.19);
}

.button.without-shadow {
    box-shadow: 0;
}

.button-oval.button-l {
    border-radius: 30px 30px 1px 30px;
}

.button-oval.button-s {
    border-radius: 20px 20px 0px 20px;
}

.category-card {
    height: 70px;
    width: 210px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 24px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    background: white;
    box-sizing: border-box;
    justify-content: center;
}

.category-card.active {
    background: #FF7A50;
    color: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
}

.category-card .icon {
    width: 44px;
    height: 44px;
    margin-right: 8px;
    background-size: cover;
}

.category-card .burger {
    background: url("../img/burger.svg") no-repeat;
}

.category-card .pizza {
    background: url("../img/pizza-icon.svg") no-repeat;
    width: 63px;
    height: 63px;
}

.category-card .sandwich {
    background: url("../img/sandwich-icon.svg") no-repeat;
}

.category-card .asianfood {
    background: url("../img/asianfood-icon.svg") no-repeat;
}

.category-card .setmenu {
    background: url("../img/setmenu-icon.svg") no-repeat;
}

.category-card.active .burger {
    background: url("../img/burger_active.svg") no-repeat;
}

.stars {
    width: 122.5px;
    display: flex;
    justify-content: space-between;
}

.star {
    width: 22.5px;
    height: 20px;
}

.card {
    padding: 0 16px 22px 16px;
    background: #FFFFFF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
    box-sizing: border-box;
}

.card__stars {
    margin-bottom: 27px;
}

.card__image {
    margin-bottom: -10px;
}

.card__title {
    margin-bottom: 9px;
}

.card__prise {
    margin-bottom: 11px;
    font-weight: 500;
}

.food-card {
    width: 361px;
    border-radius: 53px 5px;
    overflow: hidden;
}

.food-card__image {
    width: 100%;
    display: block;
}

.food-card__container {
    padding: 22px 39px 22px 20px;
    background: #FFFFFF;
}

.food-card__title {
    margin-bottom: 14px;
}

.food-card__time {
    background: url("../img/timer.svg") no-repeat;
    padding-left: 30px;
    background-position: left;
}

.food-card__footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.food-card__button {
    padding: 5px 27px;
}

.food-card__button .icon {
    background: url("../img/arrow-small.svg") no-repeat;
    width: 24px;
    height: 24px;
}

.first-section h1 {
    margin-bottom: 23px;
}

.first-section__text {
    margin-bottom: 45px;
}

.first-section__button-link {
    display: flex;
    align-items: center;
}

.first-section__button-link .link {
    margin-left: 30px;
    text-decoration: underline;
}

.first-section .container {
    display: flex;
    justify-content: space-between;
}

.first-section__image {
    margin-right: -60px;
}

.first-section {
    padding: 105px 0px 95px;
}

.first-section .column-left {
    max-width: 530px;
    width: 100%;
    padding-top: 115px;
}

.second-section h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 55px;
}

.second-section .category-container,
.second-section .card-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.second-section .category-container {
    margin-bottom: 40px;
}

header .container {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-weight: 500;
    font-size: 33px;
    line-height: 39px;
    letter-spacing: 0.05em;
    margin-right: auto;
}

header nav ul {
    display: flex;
    align-items: center;
}

header .nav-link {
    margin-right: 60px;
}

header .nav-link a {
    font-size: 18px;
    line-height: 21px;
    color: #363853;
    text-decoration: none;
}

header .nav-link a:hover {
    color: #FF6838;
}

.search-link {
    width: 25px;
    height: 50px;
    background: url("../img/search.svg") no-repeat;
    background-position: center;
    display: block;
}

.cart-link {
    width: 25px;
    height: 50px;
    background: url("../img/cart.svg") no-repeat;
    background-position: center;
    display: block;
}

.third-section {
    padding-top: 87px;
}

.third-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.third-section .column-right {
    max-width: 450px;
    width: 100%;
}

.third-section h2 {
    margin-bottom: 30px;
}

.third-section__text {
    margin-bottom: 25px;
}

.third-section__list-item {
    margin-bottom: 22px;
    padding-left: 60px;
    background: url("../img/timer-icon.svg") no-repeat;
    background-position: left;
}

.third-section__list-item:nth-child(2) {
    background: url("../img/delivery-men.svg") no-repeat;
    background-size: contain;
    background-position-x: 8px;
}

.third-section__list-item:nth-child(3) {
    background: url("../img/resturent-icon.svg") no-repeat;
    background-size: contain;
    background-position-x: 8px;
}

.third-section__list {
    margin-bottom: 50px;
}

.fourth-section h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.fourth-section .food-card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fourth-section .food-card {
    margin-bottom: 40px;
}

footer {
    margin-top: 100px;
    border-top: 1px solid #9696962d;
}

footer .logo {
    font-weight: 500;
    font-size: 33px;
    line-height: 39px;
    letter-spacing: 0.05em;
    margin-right: auto;
}

.footer-top .container {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.footer-column,
.footer-column ul {
    display: flex;
    flex-direction: column;
}

footer a {
    font-size: 18px;
    line-height: 49px;
    letter-spacing: 0.01em;
    color: #37383D;
    text-decoration: none;
}

footer a:hover {
    color: #FF6838;
}

footer ul li:first-child {
    font-weight: 500;
}

.footer-bottom {
    height: 76px;
    border-top: 1px solid #9696962d;
}

.footer-bottom .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.copyright {
    margin-right: auto;
    font-size: 14px;
    line-height: 14px;
    color: #646464;
}

.footer-bottom a {
    font-size: 14px;
    line-height: 14px;
    color: #646464;
    margin-left: 50px;
}